<form class="form-horizontal" action="/admin/administrators/create" id="form-admin" method="POST">
  <div class="card-body">
    <div class="form-group row">
      <input type="hidden" name="id" value="{{admin.id}}" readonly />
      <label for="full-name" class="col-sm-2 col-form-label">Full name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputFullName"
          name="full-name"
          placeholder="Full name"
          value="{{admin.fullName}}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputUsername"
          name="username"
          placeholder="Username"
          value="{{admin.username}}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          name="password"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="role" id="role1" value="admin"  checked/>
      <label class="form-check-label" for="role1">Admin</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="role" id="role2" value="superadmin" />
      <label class="form-check-label" for="role2">Super Admin</label>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <button type="submit" class="btn btn-info float-right">Save</button>
  </div>
  <!-- /.card-footer -->
</form>
