<form class="form-horizontal" action="/admin/administrators/save" id="form-admin" method="POST">
  <div class="card-body">
    <div class="form-group row">
      <input type="hidden" name="id" value="{{admin.id}}" readonly/>
      <label for="inputFullName" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputFullName"
          name="full-name"
          placeholder="Your full name"
          value="{{admin.fullName}}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputUsername"
          name="username"
          placeholder="Username"
          value="{{admin.username}}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          name="password"
          placeholder="Password"
        />
      </div>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <button type="submit" class="btn btn-info float-right">Save</button>
  </div>
  <!-- /.card-footer -->
</form>
